html, body {
  height: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

body {
  text-align : center;
}

canvas {
  display : block;
  width : 100%;
  height : calc(100vh - 50px);
  margin : auto;
  padding : 0;
  border : none;
  background-color : black;
}
button {
  display : block;
  font-size : inherit;
  margin : auto;
  padding : 0.6em;
}
