html, body {
    height: 100%;
    margin: 0 0;
    padding: 0 0;
}

canvas {
    width: 100%;
    height: calc(100% - 23px);
    display: block;
}

.title {
    text-align: center;
    font-size: 1.2rem;
    margin: 0 0;
}
